* {
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
  --Soft-violet: hsl(277, 64%, 61%); /* (accent) */
  --Very-dark-blue: hsl(233, 47%, 7%); /* (main background) */
  --White: hsl(0, 0%, 100%); /* (main heading, stats) */
  --transparent-white: hsla(0, 0%, 100%, 0.6); /* (stat headings) */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  align-items: center;
  background-color: var(--Very-dark-blue);
  display: flex;
  height: 130vh;
  justify-content: center;
  width: 100%;
  position: relative;
}

.container {
  background-color: var(--Dark-desaturated-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 375px;
}

.img-row {
  background-image: url(images/image-header-mobile.jpg);
  background-size: cover;
  border-radius: 10px 10px 0 0;
  height: 240px;
  width: 100%;
}

.overlay {
  background-color: hsl(280, 100%, 9%);
  border-radius: 10px 10px 0 0;
  filter: saturate(350%);
  height: 100%;
  opacity: 0.6;
  width: 100%;
}

.text-row {
  text-align: center;
}

h1 {
  color: var(--White);
  font-size: 2.2rem;
  letter-spacing: -1px;
  padding: 2rem 2rem 1rem 2rem;
}

span {
  color: var(--Soft-violet);
}

.main-p {
  color: var(--Slightly-transparent-white);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.937rem;
  line-height: 23px;
  margin-bottom: 20px;
  padding: 0 3rem;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.stats h2 {
  color: var(--White);
  margin-bottom: 7px;
}

.stats p {
  color: var(--transparent-white);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
}

.row {
  margin: 0.8rem;
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
  color: aliceblue;
}

.attribution a {
  color: var(--Soft-violet);
  text-decoration: none;
}

@media (min-width: 1056px) {
  body {
    height: 100vh;
  }

  .container {
    flex-direction: row-reverse;
    height: 27.9rem;
    width: 65rem;
  }

  .img-row {
    background: url(images/image-header-desktop.jpg);
    border-radius: 0px 10px 10px 0;
    height: 446px;
    width: 1110px;
  }

  .overlay {
    border-radius: 0px 10px 10px 0;
  }

  .text-row {
    padding: 0.8rem;
    text-align: left;
    width: 1000px;
  }

  .text-row h1 {
    padding: 3.5rem 3.5rem 1.8rem 3.3rem;
  }

  .main-p {
    padding: 0 3.5rem 2rem 3.3rem;
  }

  .stats {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3.5rem 0 2.5rem;
  }
}
