* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 400px;
  background-color: #ccc;
  margin: 120px auto;
  display: flex;
}

.col {
  height: 100%;
  flex: 1;
  color: white;
  padding: 25px;
  position: relative;
  transition: 0.7s;
}

.col:nth-child(1) {
  background: #283491;
}
.col:nth-child(2) {
  background: #f18684;
}
.col:nth-child(3) {
  background: #6ee2f1;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.caption {
  max-width: 230px;
  font-size: 1rem;
  margin: 24px 0;
  display: none;
}

.caption button {
  border: 1px solid white;
  background: transparent;
  outline: none;
  padding: 8px 18px;
  color: white;
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1rem;
}
.col img {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.col:hover {
  flex: 2.5;
}

.col:hover .caption {
  display: block;
}

.col:hover h2 {
  text-align: left;
}
